# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Admin\Desktop\Kenneth OneDrive\OneDrive - Estudiantes ITCR\TEC\Semestre 1 2021\Datos II\java-ci-pipeline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
